body {
  margin: 0;
  padding: 0;

  background-color: #f0f0f0;
}
.box {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.heading {
  color: red;
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bolder;
}
.desc {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: blueviolet;
  padding: 10px;
}
.img-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
#paragraph {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.w1d2-test2 {
  color: green;
}

.w1d2-test {
  color: blue;
}
